---
import Header from '@/components/header.astro';
import Navigation from '@/components/navigation';
import Footer from '@/components/footer';
import { getLangFromUrl } from '@/i18n/utils';
import '@/styles/globals.css';

interface Props {
  title: string;
  description: string;
}

const lang = getLangFromUrl(Astro.url);
const { title, description } = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content={description}
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/png'
      href='/logo.png'
      sizes='16x16'
    />
    {
      lang === 'en' && (
        <link
          rel='alternate'
          title='juancmandev'
          type='application/rss+xml'
          href={new URL('feed.xml', Astro.site)}
        />
      )
    }
    {
      lang === 'es' && (
        <link
          rel='alternate'
          title='juancmandev'
          type='application/rss+xml'
          href={new URL('feed.xml', `${Astro.site}/es/`)}
        />
      )
    }
    <link
      rel='sitemap'
      href='/sitemap-index.xml'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title}</title>
  </head>
  <body>
    <Header lang={lang} />
    <main class='width-global px-2 lg:px-0 pt-32'>
      <slot />
    </main>
    <Navigation lang={lang} />
    <Footer lang={lang} />
  </body>
</html>
